.login {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #030320;

    
  }
  
  .login h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .login form {
    margin-bottom: 20px;
  }
  
  .login .form-group {
    margin-bottom: 10px;
  }
  
  .login label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.2rem;

  }
  
  .login input,
  .login select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login input:focus,
  .login select:focus {
    outline: none;
    border-color: #38bdf8;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color: #38bdf8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color: #2297cd;
  }
  